.skills-header{
    font-family: 'Rock Salt', cursive;
    font-size: 4em;
}
.skills-body{
    font-family: 'Century Gothic', cursive;
    font-size: 1em;
    word-break: break-word;
}

.skills-text{
    text-align:center;
}

.skills-container{
    display: flex;
    flex-direction: row;
}


