.skills-header{
    font-family: 'Alfa Slab One', cursive;
    font-size: 4em;
}
.skills-body{
    font-family: 'Alfa Slab One', cursive;
    font-size: 1em;
    word-break: break-word;
}

.skills-text{
    position: absolute;
    top: 100px;
    text-align:center;
    width: 22%;
}
