<div class="col-md-2 col-xs-0">
    <div class="skills-text">
        <div class="skills-header">
            SKILLS
        </div>
        <div class="skills-body">
            Languages, Libraries, Frameworks, and more that I have worked with over the years, organized based on relevance and competency level.
        </div>
    </div>
</div>

<div class="col-md-8 col-xs-12">
    <tile-group-component [tiles]="tileList">
    </tile-group-component>
</div>

<div class="col-md-2 col-xs-0">
</div>
