<div class="navigation-bar full-center noselect">
    <div class="col-md-3 col-sm-2"></div>
    <div class="col-md-2 col-sm-3 navigation-bar-header">
        <a routerLink="/">HOME</a>
    </div>
    <div class="col-md-2 col-sm-2 navigation-bar-header">
        <a routerLink="skills">SKILLS</a>
    </div>
    <div class="col-md-2 col-sm-3 navigation-bar-header">
        <a routerLink="experience2">EXPERIENCE</a>
    </div>
    <div class="col-md-2 col-sm-3 navigation-bar-header">
        <a routerLink="experience">EXPERIENCE (OLD)</a>
    </div>
    <div class="col-md-3 col-sm-2"></div>
</div>
