.row
{
    margin:30px 10px;
    padding:10px;
    display: flex;
}

.container{
    height: 100%;
    position: relative;
}

.flex-start{
    justify-content: flex-start;
}

.flex-end{
    justify-content: flex-end;
}

experience-card-component{
    width: 40%;
}

.experience-header{
    font-family: 'Rock Salt', sans-serif;
    font-size: 3em;
    text-align: center;
}

.timeline-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.timeline{
    height: 100%;
    position: absolute;
    background-color: rgba( 255, 255, 255, 0.5);
    width: 40px;
}

.timeline-circle{
    background-color: white;
    border-radius: 50%;
    position: absolute;
    width: 80px;
    height: 80px;
    left: -20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.timeline-circle-top{
    top: -20px;
}

.timeline-circle-bottom{
    bottom: -20px;
}

.timeline-text{
    font-family: 'Rock Salt', sans-serif;
    text-align: center;
}


@media only screen and (max-width: 768px) {
    .flex-start{justify-content: flex-end}
    .timeline-container{justify-content: flex-start}
    .timeline{margin-left: 15px}
    experience-card-component{width: 90%}
    .experience-header{
        font-size: 2em;
    }
}
