#container DIV
{
    margin:50px;
    padding:50px;
    background-color:pink;
}

.hidden{
    opacity:0;
}

.fadeIn{
    animation: fadeIn 1s linear;
}



@keyframes fadeIn {
    0% { opacity: 0 }
    100% { opacity: 1}
}
