<div class="container">
    <div class="row">
        <div class="experience-header">My journey as a software engineer</div>
    </div>
</div>
<div class="container">
    <div class="timeline-container">
        <div class="timeline">
            <div class="timeline-circle timeline-circle-top"></div>
            <div class="timeline-circle timeline-circle-bottom"></div>
        </div>
    </div>
    <div class="row experience-row {{i % 2 == 0 ? 'flex-start' : 'flex-end'}}" *ngFor="let experience of experienceAttributes; index as i">
        <experience-card-component [experienceAttributes]="experience"></experience-card-component>
    </div>
</div>
