.experience-card{
    background-color: rgba( 255, 255, 255, 0.5);
    text-align: center;
    border-radius: 5px;
    width: 100%;
    min-height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.experience-card-header{
    font-family: 'Rock Salt', cursive;
}

.experience-card-body{
    font-family: 'Century Gothic', sans-serif;
}

.experience-card-image{
    max-height: 50px;
    max-width: 100%;
}
.experience-card-secondary-image{
    max-height: 30px;
    max-width: 100%;
}

.experience-images{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.experience-secondary-images{
    display: flex;
    justify-content: center;
    flex-direction: row;
}


.hidden{
    opacity:0;
}

.fadeIn{
    animation: fadeIn 1s linear;
}

@keyframes fadeIn {
    0% { opacity: 0 }
    100% { opacity: 1}
}

